@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.mainPsl {
  background-color: White;
}

.loginPgl {
  background-color: White;  
  font-family: 'Montserrat', sans-serif;
}

.loginPgl af|panelFormLayout table {
  border: solid Gray thin;
  padding: 5px;
}